body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
}

/* clases para los estados de color */
.estado-0 { background-color: white; color: black; }
.estado-1 { background-color: black; color: white; }
.estado-2 { background-color: lightblue; color: red; }